body {
    background-color: #B9144F;
}

h1 {
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 840px;
    background-color: white;
    border-radius: 10px;
}

.ticket-form {
    display: flex;
    text-align: center;
    padding: 10px 130px;
    color: #B9144F;
}

input, select {
    border: 1px solid #B9144F;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
}

button {
    font-weight: bold;
    border-radius: 5px;
    color: #B9144F;
    border-color: darkgray;
}

button:hover {
    border-color: orange;
}

h1:last-of-type {
    padding-top: 20px;
}

.ticket-container {
    max-width: 796px;
    padding: 20px;
}

.passenger-details {
    display: flex;
    flex-direction: row;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

h2:last-of-type {
    padding-top: 20px;
}

.passenger {
    padding-left: 20px;
    background-color: #808080;
}

.passenger-name {
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}